@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

*{
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.navbar{
	z-index: 2;
	margin-top: -48px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(133, 132, 132, 0.3);
}

.panel{
	box-shadow: 0 0 10px rgba(133, 132, 132, 0.6);
	border-radius: 7px;
	background-color: #0dcaf0;
	padding: 30px;
}

.panel img{
	width: 80px;
	height: 80px;
	margin-right: 20px;
}

.panel h4{
	font-size: 24px;
}

.bayangan{
  box-shadow: 0 0 30px rgba(187, 186, 186, 0.5);
}

.kartu{
	transition: all;
}

.kartu:hover{
	transform: scale(1.05);
	box-shadow: -1px 16px 30px -15px rgba(0, 0, 0, 0.9);
}

.footer{
	background-color: #0dcaf0;
	border-radius: 4px;
	height: 55px;
}


/* Artikel */
.thumb{
	width: 100%;
}

.main-news{
	margin-top: 20px;
}

.main-news h3{
	line-height: 0.75;
}

.main-news h3 a{
	font-size: 17px;
	text-decoration: none;
	font-weight: 400;
}

.image{
	overflow: hidden;
}

.image-sm{
	max-height: 180px;
}

.image-sm img{
	height: 180px;
}

.image-xs{
	max-height: 140px;
}

.image-xxs{
	max-height: 100px;
}

.image img{
	object-fit: cover;
    border-radius: 6px;
}

.section-title{
	position: relative;
}

.section-title span:after{
	content: '';
	position: absolute;
	width: 50px;
	height: 2px;
	left: 0;
	bottom: 0;
}

.section a{
	text-decoration: none;
}

/* Dokter */
.home {
	background-image: url('./components/dokter/Assets/dokter-banner2.png');
	background-size: cover;
	background-position: center;
	height: 300px;
}

/* Podcast */
.lis{
	box-shadow: 0 0 30px rgba(243, 241, 241, 0.1);
	transition: transform 0.4s;
}

.lis:hover{
	background: rgb(233, 231, 231, 0.5);
	border-radius: 6px;
}

.biru{
	background-color: #F4FDFE;
}

/* Responsive */
@media only screen and (max-width: 576px){
	.section .hero .text-muted{
		font-size: 12px;
	}

	section .tentang .img-fluid{
		position: absolute;
		display: grid;
	}

	section .tentang .fw-bold{
		margin-top: 350px;
		margin-left: -20px;
	}

	section .tentang .fw-bold .text-muted{
		margin-left: -100px;
	}
	
}